.App {
  text-align: center;
}

html {
  box-sizing: border-box;

}

body {
  font-family: Montserrat,
    Arial,
    Helvetica,
    sans-serif
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.toast {
  display: flex;
  position: absolute;
  align-items: center;
  top: 1em;
  right: 1em;
  padding: .2em;
  border: 5px solid rgb(146, 143, 49);
  background-color: rgb(241, 238, 25);
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  max-width: 400px;
}

.dismissToast {
  align-self: flex-start;
  font-weight: bold;
  font-size: 2em;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.toast h2 {
  margin: 0 .2em 0 0;
}

.hero {
  max-height: 147px;

}

.hero img {
  max-height: 150px;
}

#appWrapper {
  border: 10px solid rgb(190, 140, 190);
  height: calc(100vh - 147px);
  max-height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-rows: max-content auto max-content;

}

.title {
  font-size: 4em;
  margin: .25em
}

.skeleton {
  border: 6px solid rgb(135, 191, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.prez {
  border-radius: 5px;
  width: 75vw;
  margin: auto;
}

.linky {
  border: 3px solid rgb(135, 191, 255);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.linky:hover {
  background-color: rgb(215, 243, 252);
}

.logout {
  background-color: rgb(255, 235, 145)
}

.delete {
  background-color: #f3b3b3;
}

nav {
  display: flex;
  justify-content: center;
}

.modal {
  position: absolute;
  background: wheat;
  height: 400px;
  width: 95vw;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal form {
  text-align: center;
}

.modal form div {
  padding: 5px;
}

.main-overflow {
  overflow-y: auto;
}

.left-aligned {
  text-align: left;
}

.newline-wrap {
  white-space: pre-wrap;
}